.search-continer{
    background-color: #222222;
    text-align:center;
    line-height: 60px;
}
.search-continer input{
    width: 75%;
    line-height: 25px;
    font-size: 18px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 20%;
}
.cart-container{
    text-align: center;

}